altgraph==0.17
autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fbs==0.9.0
Flask==1.1.2
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
macholib==1.14
MarkupSafe==1.1.1
numpy==1.20.0
pandas==1.2.1
pefile==2019.4.18
Pillow==8.1.0
pycodestyle==2.6.0
PyInstaller==3.4
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2021.1
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.3
Werkzeug==1.0.1
